@use "./variables";


h1 {
  font-weight: bold;
  font-size: 1.625rem;
  line-height: 2.375rem;
}

h2 {
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 2rem;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
}

h4 {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

body {
  font-size: 0.9375rem;
  font-weight: normal;
  line-height: 1.5rem;
  
}

