// light-mode colors
$lightBlue: #0079ff;
$gray:#697c9a;
$blueGray: #4b6a9b;
$charcoal: #2b3442;
$lightGray: #f6f8ff;
$white: #fefefe;

// dark mode 
$darkNavy: #141d2f;
$darkBlueGray: #1E2a47;


// breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 1200px;
$desktop-breakpoint: 1800px