// light-mode colors
$lightBlue: #0079ff;
$gray:#697c9a;
$blueGray: #4b6a9b;
$charcoal: #2b3442;
$lightGray: #f6f8ff;
$white: #fefefe;

// dark mode 
$darkNavy: #141d2f;
$darkBlueGray: #1E2a47;
$darkTeal: #222731;

// breakpoints
$tablet-breakpoint: 600px;
$desktop-breakpoint: 1200px