@use "../../assets/styles/partials/variables" as *;
@use "../../assets/styles/partials/mixins" as *;

.userCard {
  padding: 2rem 1.5rem;
  background-color: var(--cardBg);
  box-shadow: var(--boxShadow);
  border-radius: 1rem;
  margin-top: 1rem;
  color: var(--bodyColor);

  @include tablet {
    padding: 2.5rem;
    margin-top: 1.5rem;
  }
}

.userInfo {
  display: flex;
  gap: 1.25rem;

  @include tablet {
    gap: 2.5rem;
  }

  img {
    height: 4.375rem;
    width: 4.375rem;
    border-radius: 50%;

    @include tablet {
      height: 7.4rem;
      width: 7.4rem;
    }
  }

  .userDeets {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include desktop {
        flex-direction: row;
        align-items: flex-start;
        gap: 8rem;

      }

    &__user {
      display: flex;
      flex-direction: column;

      
      &-name {
        color: var(--usersname);
        font-size: 1rem;
        font-weight: bold ;
        line-height: normal;

        @include tablet {
          font-size: 1.625rem;
          font-weight: bold;
        }
      }

      &-username {
        font-size: 0.8125rem;
        color: $lightBlue;
        margin-bottom: 0.375rem;

        @include tablet {
          font-size: 1rem;
        }

        a {
          text-decoration: none;
          color: inherit;

          &:visited {
            color: inherit;
          }
        }
      }
    }

    &__joinDate {
      font-size: 0.8125rem;
      @include tablet {
        font-size: 1rem;
      }

      @include desktop {
        margin-top: 0.5rem;
      }
    }
  }
}

.userDescription {
  font-size: 0.8125rem;
  line-height: 1.5rem;
  margin-top: 2rem;

  @include tablet {
    font-size: 1rem;
  }
}

.userStats {
  margin-top: 1.5rem;
  padding: 1rem 0.8rem;
  display: flex;
  background-color: var(--backgroundColor);
  border-radius: 0.625rem;
  justify-content: space-evenly;

  .stat {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      align-items: flex-start;
    }
    &__label {
      font-size: 0.687rem;

      @include tablet {
        font-size: 0.8125rem;
      }
    }

    &__info {
      font-size: 1rem;
      font-weight: bold;
      color: var(--stat);

      @include tablet {
        font-size: 1.375rem;
      }
    }
  }
}

.userSocials {
  margin-top: 1.5rem;

  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    gap: 4rem;
  }

  &__section {
    display: flex;
    flex-direction: column;

    @include tablet {
      gap: 1.25rem;
    }
  }
  &__item {
    display: flex;
    gap: 1.25rem;
    font-size: 0.8125rem;

    img {
      height: 1.25rem;
      width: 1.25rem;
      object-fit: contain;

      @include tablet {
        height: 1.25rem;
      }
    }

    &.unavailable {
      opacity: 0.5;
    }

    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration-line: underline;
        text-underline-offset: 3px;
        text-decoration-style: wavy;
      }
    }
  }
}
