@use "../../assets/styles/partials/variables" as *;

.userCard {
  padding: 2rem 1.5rem;
  // TODO: background-color: var(--userCardBG)
  background-color: $darkBlueGray;
  border-radius: 1rem;
  margin-top: 1rem;
}

.userInfo {
  // border: 2px solid plum;
  display: flex;
  gap: 1.25rem;

  img {
    height: 4.375rem;
    width: 4.375rem;
    border-radius: 50%;
  }

  .user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__name {
      // TODO: color: var(--usersname);
      color: white;
      font-size: 1rem;
      font-weight: bold;
      line-height: normal;

      
    }

    &__username {
      font-size: 0.8125rem;
      color: $lightBlue;
      margin-bottom: 0.375rem;

      a {
        text-decoration: none;
        color: inherit;

        &:visited {
          color: inherit;
        }
      }
    }

    &__joinDate {
      font-size: 0.8125rem;
      // TODO: color: var(--datecolor)
      color: white;
    }
  }
}

.userDescription {
  // border: 2px solid #ab274f;
  font-size: 0.8125rem;
  // TODO: color: var(--bodycolor)
  color: white;
  line-height: 1.5rem;
  margin-top: 2rem;
}

.userStats {
  // border: 2px solid #b284be;
  margin-top: 1.5rem;
  padding: 1rem 0.8rem;
  display: flex;
  //TODO: background-color: var(--statsBg)
  background-color: $darkNavy;
  border-radius: 0.625rem;

  //TODO: color: var(--bodycolor);
  color: white;
  justify-content: space-evenly;

  .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__label {
      font-size: 0.687rem;
    }

    &__info {
      font-size: 1rem;
      font-weight: bold;
    }
  }
}

.userSocials {
  // border: 2px solid #00b9e8;
  list-style-type: none;
  margin-top: 1.5rem;

  li {
    display: flex;
    color: white;
    gap: 1.25rem;
    font-size: 0.8125rem;

    img {
      height: 100%;
    }

    &.unavailable {
        opacity: 0.5;
      }

    a {
      color: white;
      text-decoration: none;
    }
  }
}
