@use "../../assets/styles/partials/variables" as *;

.userCard {
  padding: 2rem 1.5rem;
  background-color: var(--cardBg);
  box-shadow: var(--boxShadow);
  border-radius: 1rem;
  margin-top: 1rem;
  color: var(--bodyColor);

}

.userInfo {
  display: flex;
  gap: 1.25rem;

  img {
    height: 4.375rem;
    width: 4.375rem;
    border-radius: 50%;
  }

  .user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__name {
      color: var(--usersname);
      font-size: 1rem;
      font-weight: 500;
      line-height: normal;
    }

    &__username {
      font-size: 0.8125rem;
      color: $lightBlue;
      margin-bottom: 0.375rem;

      a {
        text-decoration: none;
        color: inherit;

        &:visited {
          color: inherit;
        }
      }
    }

    &__joinDate {
      font-size: 0.8125rem;
    }
  }
}

.userDescription {
  font-size: 0.8125rem;
  line-height: 1.5rem;
  margin-top: 2rem;
}

.userStats {
  margin-top: 1.5rem;
  padding: 1rem 0.8rem;
  display: flex;
  background-color: var(--backgroundColor);
  border-radius: 0.625rem;

  // color: var(--bodyColor);
  justify-content: space-evenly;

  .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__label {
      font-size: 0.687rem;
    }

    &__info {
      font-size: 1rem;
      font-weight: bold;
      color: var(--stat);
    }
  }
}

.userSocials {
  list-style-type: none;
  margin-top: 1.5rem;

  li {
    display: flex;
    gap: 1.25rem;
    font-size: 0.8125rem;

    img {
      height: 100%;
    }

    &.unavailable {
      opacity: 0.5;
    }

    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration-line: underline;
        text-underline-offset: 3px;
        text-decoration-style: wavy;
      }
    }
  }
}
