@use "../../assets/styles/partials/variables" as *;
@use "../../assets/styles/partials/mixins" as *;

.searchBar {
  position: relative;

  @include desktop {
  }
  &-state {
    color: #f74646;
    font-weight: bold;
    font-size: 0.8125rem;
    position: absolute;
    right: 8.75rem;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;

    @include desktop {
      &--err {
        visibility: visible;
      }

      &--noErr {
        visibility: hidden;
      }
    }
  }

  &__icon {
    height: 1.25rem;
    width: 1.25rem;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);

    @include tablet {
      height: 1.5rem;
      width: 1.5rem;
      left: 2rem;
    }
  }

  &__input {
    width: 100%;
    margin: 0 auto;
    padding: 1.125rem 2.8125rem;
    border-radius: 1rem;
    border: none;
    background: var(--cardBg);
    box-shadow: var(--boxShadow);
    color: var(--inputText);

    @include tablet {
      padding: 1.375rem 5rem;
      font-size: 1.125rem;
    }

    &:focus {
      outline: 1.5px solid $lightBlue;
    }

    &::placeholder {
      color: var(--placeholder);
      font-size: 0.75rem;
      font-weight: normal;
      letter-spacing: 0;

      @include tablet {
        font-size: 1.125rem;
      }
    }
  }

  &__submit {
    position: absolute;
    right: 0.5rem;
    background-color: $lightBlue;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 0.875rem;
    padding: 0.8rem 1.125rem;
    border-radius: 0.625rem;

    @include tablet {
      font-size: 1rem;
      padding: 0.8125rem 1.5rem;
    }

    top: 50%;
    transform: translateY(-50%);
    transition: background-color 250ms;

    &:hover {
      background-color: #60abff;
      cursor: pointer;
    }
  }
}
