@use "../../assets/styles/partials/variables" as *;

.searchBar {
  position: relative;

  &__icon {
    height: 1.25rem;
    width: 1.25rem;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &__input {
    width: 100%;
    margin: 0 auto;
    padding: 1.125rem 2.8125rem;
    border-radius: 1rem;
    border: none;
    // todo: background: var(--background); or whatever
    background: $darkBlueGray;

    &::placeholder {
      // todo: color: var(--placeholder);
      color: white;
      font-size: 0.8125rem;
    }
  }

  &__submit {
    position: absolute;
    right: 0.5rem;
    background-color: $lightBlue;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 0.875rem;
    padding: 0.8rem 1.125rem;
    border-radius: 0.625rem;

    top: 50%;
    transform: translateY(-50%);
  }
}
