@use "../../assets/styles/partials/variables" as *;

.searchBar {
  position: relative;

  &__icon {
    height: 1.25rem;
    width: 1.25rem;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &__input {
    width: 100%;
    margin: 0 auto;
    padding: 1.125rem 2.8125rem;
    border-radius: 1rem;
    border: none;
    // todo: background: var(--background); or whatever
    background: $darkBlueGray;
    color: white;

    &:focus {
      outline: 1.5px solid $lightBlue;
    }

    &::placeholder {
      // todo: color: var(--placeholder);
      color: rgba(255, 255, 255, 0.591);
      font-size: 0.75rem;
      font-weight: normal;
      letter-spacing: 0;
    }
  }

  &__submit {
    position: absolute;
    right: 0.5rem;
    background-color: $lightBlue;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 0.875rem;
    padding: 0.8rem 1.125rem;
    border-radius: 0.625rem;

    top: 50%;
    transform: translateY(-50%);
    transition: background-color 250ms;

    &:hover {
      background-color: #60abff;
      cursor: pointer;
    }
  }
}
