@use "../../assets/styles/partials/variables" as *;

.header {
  // display: flex;
  // justify-content: space-between;
  // margin-bottom: 2.25rem;
  &__logo {
    color: var(--logoColor);
    font-size: 1.625rem;
    font-weight: bold;
  }

  // &__toggle {
  //   display: flex;
  //   gap: 1rem;
  //   align-items: center;
  //   .toggle__label {
  //     color: var(--toggleColor);
  //     // color: white;
  //     font-size: 0.8125rem;
  //     letter-spacing: 2px;
  //     font-weight: bold;
  //   }

  //   .toggle__icon {
  //     height: 1.25rem;
  //     width: 1.25rem;
  //   }
  // }
}
