@use "../../assets/styles/partials/variables" as *;

.toggle {
  &__label {
    display: flex;
    gap: 1rem;
    &-text {
      color: var(--bodyColor);
      font-weight: bold;
      font-size: 0.8125rem;
      letter-spacing: 2.5px;
      cursor: pointer;
    }

    &-icon {
      cursor: pointer;
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  .toggleBtn {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}
