@use "../../assets/styles/partials/variables" as *;

.toggle {
  display: flex;
  gap: 1rem;

  &__label {
    color: var(--bodyColor);
    font-weight: bold;
    font-size: 0.8125rem;
    letter-spacing: 2.5px;
  }

  .toggleBtn {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__icon {
    cursor: pointer;
    height: 1.25rem;
    width: 1.25rem;
  }
}
