@use "./assets/styles/partials/variables" as *;
@use "./assets/styles/partials/mixins" as *;

.app {
  @include tablet {
    max-width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &Container {
    background: var(--backgroundColor);
    // background-color: red;
    width: 100vw;
    height: 100vh;
    padding: 2rem 1.5rem;
    position: relative;

    @include tablet {
    }
  }

  &__header-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.25rem;
  }
}
