// @use "./assets/styles/partials/globals" as *;
@use "./assets/styles/partials/variables" as *;

.app {
  background: var(--backgroundColor);
  width: 100vw;
  height: 100vh;
  padding: 2rem 1.5rem;

  &__header-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.25rem;
  }
}
