@use "./assets/styles/partials/variables" as *;
@use "./assets/styles/partials/mixins" as *;

.app {
  @include tablet {
    width: 35rem;
    max-width: 75vw;
    position: absolute;
    top: 8.75rem;
    left: 50%;
    transform: translateX( -50%);
  }
  &Container {
    
    background-color: var(--backgroundColor);
    width: 100vw;
    height: 100vh;
    padding: 2rem 1.5rem;
    position: relative;

    @include tablet {
    }
  }

  &__header-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.25rem;
  }
}
