@use "/src/assets/styles/partials/globals" as *;
@use "/src/assets/styles/partials/typography" as *;
@use "/src/assets/styles/partials/variables" as *;
@use "/src/assets/styles/partials/mixins" as *;

:root {
  --logoColor: #{$darkTeal};
  --toggleColor: #{$blueGray};
  --cardBg: #{$white};
  --backgroundColor: #{$lightGray};
  --boxShadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  --placeholder: #{$blueGray};
  --inputText: #{$darkTeal};
  --bodyColor: #{$blueGray};
  --usersname: #{$charcoal};
  --stat: #{$charcoal};
}

[data-theme="dark"] {
  --logoColor: white;
  --toggleColor: white;
  --cardBg: #{$darkBlueGray};
  --backgroundColor: #{$darkNavy};
  --boxShadow: none;
  --placeholder: rgba(255, 255, 255, 0.591);
  --inputText: white;
  --bodyColor: white;
  --usersname: white;
  --stat: white;
}


